<FluentGrid Spacing="3">
    <FluentGridItem xs="12" sm="6">
        <h6>Updates:</h6>
        <ul class="changelogs">
            <li class="changelog-item">[25-Nov-2023] Minor UI Updates</li>
            <li class="changelog-item">[23-Nov-2023] Added Mine Sweeper</li>
            <li class="changelog-item">[21-Nov-2023] Added Tetris</li>
        </ul>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6" />
</FluentGrid>

<style>
    .changelogs {
        list-style-type: none;
        padding: 0;
    }

    .changelog-item {
        margin-bottom: 10px;
    }

        .changelog-item::before {
            content: '•';
            margin-right: 5px;
        }
</style>