@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader>
        Blazor Playground
        <FluentSpacer />
        <FluentNavLink Href="https://www.linkedin.com/in/kelbin-kelbin-b3ba74155/" Target="_blank" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/about/linkedin.svg")" />
        <FluentNavLink Href="https://github.com/kelbindev/" Target="_blank" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/about/github.svg")" />
        <FluentNavLink Href="https://drive.google.com/file/d/1S3hQUG2_NFHDipn8F2cfBDaY1nqPQqsv/view?usp=sharing" Target="_blank" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/about/cv.svg")" />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent>
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>
