@page "/"
@using KbBlazorGames.Partials.Home 

<PageTitle>Home</PageTitle>

<p>Welcome Players! On this site we make games with Blazor Web App on .Net 8 </p>

<p>Select any games on the navbar to start</p>

<br/>

<Changelogs />